#main-doc{
    
    overflow-y:visible;
    height: 1600px;
}
#navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    
}
#navbar_header{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin-right: 50px;
    padding-right: 47px;
    padding-left: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    left: -8px;
    top: -10px;
    text-align: center;
    width: 55%;
    
}
#navbar ul{
    
    list-style: none;
    margin: 0px;
}
#navbar li{
    position: relative;
    border: 1px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 50px;
    width: 55%;
    text-align: left;
    left: -50px;
    top: -10px;
}
.main-section{
    position: relative;
    display: inline-block;
    flex-direction: row;
    left: 225px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    position: relative;
    display: block;
    flex-direction: row;
    left: 325px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.info{
    position: relative;
    display: block;
    flex-direction: row;
    left: 325px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*
#Introduction{
    position: absolute;
    display: inline-block;
    flex-direction: row;
    left: 325px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}
p{
    padding-bottom: -30px;
    bottom: 690px;
    left: 25px;
    right: 225px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.info{
    display: absolute;
    
    padding-bottom: -45px;
    bottom: 725px;
    left: 400px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#What_you_should_already_know{

    position: absolute;
    display: inline-block;
    flex-direction: row;
    left: 325px;
    right: 990px;
    top: 400px;
    font-size: 30px;
    
}
#JavaScript_and_Java{
    position: relative;
    display: inline-block;
    flex-direction: row;
    padding-top: 105px;
    left: 325px;
    right: 900px;
    top: 275px;
    font-size: 30px;
}*/