#main-doc{
    overflow-x: hidden;
    
    
}

#navbar{
    position: fixed;
    
     
    
}

@media(max-width: 1600px) and (min-width: 550px){
    #navbar_header{
        
        display: flex;
        flex-direction: row;
         
        padding-left: 81px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 18px;
        margin-left: -8px;
        margin-bottom: 10px;
        width: 55%;
        margin-top: -10px;
        border: 1px solid #000;
        font-size: 20px;
        text-align: start;
    } 
}

#navbar ul{
    
    list-style: none;
    margin: 0px;
}
#navbar li{
    position: relative;
    border: 1px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 50px;
    width: 55%;
    text-align: left;
    left: -50px;
    top: -10px;
    
}
.main-section{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    left: 320px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    position: relative;
    display: block;
    flex-direction: row;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
* header{
    font-weight: bold;
    font-size: 25px;
}
/*.info{
    position: relative;
    display: block;
    flex-direction: row;
    left: 15px;
    padding-bottom: 0px;
    padding-top: 25px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

#What_you_should_already_know{

    position: absolute;
    display: inline-block;
    flex-direction: column;
    left: 325px;
    
    top: 350px;
    font-size: 15px;
    
}
#JavaScript_and_Java{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 120px;
    left: 325px;
    top: 450px;
    font-size: 25px;
}
#Hello_World{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 120px;
    left: 325px;
    top: 775px;
    font-size: 25px;
}
code{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.23);
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 10px;
    width: 80%;
}
#Variables{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 120px;
    left: 325px;
    top: 975px;
    font-size: 25px;
    
}
#Declaring_variables{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 50px;
    left: 325px;
    top: 1245px;
    font-size: 25px;
}
#Variable_scope{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 50px;
    left: 325px;
    top: 1600px;
    font-size: 25px;
}
#Global_variables{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 50px;
    left: 325px;
    top: 1950px;
    font-size: 25px;
}

#Constants{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 50px;
    left: 325px;
    top: 2100px;
    font-size: 25px;
}
#Data_types{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 50px;
    left: 325px;
    top: 2600px;
    font-size: 25px;
}
#if___else_statement{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 50px;
    left: 325px;
    top: 3050px;
    font-size: 25px;
}
#while_statement{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 50px;
    left: 325px;
    top: 3750px;
    font-size: 25px;
}
#Function_declarations{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 50px;
    left: 325px;
    top: 4375px;
    font-size: 25px;
}
#Reference{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    padding-top: 50px;
    left: 325px;
    top: 4925px;
    font-size: 25px;
}